<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.wst.server.core.serverTypes">
      <serverType
            behaviourClass="org.jboss.tools.servers.wildfly.swarm.core.internal.server.wst.WildFlySwarmServerBehavior"
            class="org.jboss.tools.servers.wildfly.swarm.core.internal.server.wst.WildFlySwarmServer"
            name="WildFly Swarm Server"
            description="WildFly Swarm Server"
            hasConfiguration="false"
            id="org.jboss.tools.wildfly.swarm.serverType"
            initialState="stopped"
            launchConfigId="org.jboss.tools.servers.wildfly.swarm.core.serverLaunchConfig"
            launchModes="run,debug"
            runtime="false"
            runtimeTypeId="org.jboss.tools.servers.wildfly.swarm.core.serverTypeRuntime"
            startTimeout="45000"
            stopTimeout="30000"
            supportsRemoteHosts="false">
      </serverType>
   </extension>
   <extension
         point="org.eclipse.wst.server.ui.serverImages">
      <image
            icon="icons/wildfly-swarm-16x16.png"
            id="org.jboss.tools.servers.wildfly.swarm.core.serverImage"
            typeIds="org.jboss.tools.servers.wildfly.swarm.core.serverTypeRuntime,org.jboss.tools.wildfly.swarm.serverType">
      </image>
   </extension>
   <extension
         point="org.eclipse.wst.server.core.runtimeTypes">
      <runtimeType
            description="WildFly Swarm Server"
            id="org.jboss.tools.servers.wildfly.swarm.core.serverTypeRuntime"
            vendor="JBoss Community"
            name="WildFly Swarm Server">
      </runtimeType>
   </extension>
   <extension
         point="org.eclipse.debug.core.launchConfigurationTypes">
      <launchConfigurationType
            delegate="org.jboss.tools.servers.wildfly.swarm.core.internal.server.wst.WildFlySwarmLaunchConfiguration"
            id="org.jboss.tools.servers.wildfly.swarm.core.serverLaunchConfig"
            modes="run,debug"
            name="WildFly Swarm"
            public="true"
            sourceLocatorId="org.eclipse.jdt.launching.sourceLocator.JavaSourceLookupDirector"
            sourcePathComputerId="org.eclipse.jst.server.generic.core.sourcePathComputer"
            >
      </launchConfigurationType>
   </extension>

   	<extension
         point="org.jboss.ide.eclipse.as.wtp.core.serverSubsystem">
    <!-- Publish Controller. Seems overkill to define a noop publisher. Need to see how to get rid of it -->
      <subsystem
            system="publish"
            id="publish.noop.swarm"
            name="No Op publisher"
            class="org.jboss.tools.servers.wildfly.swarm.core.internal.server.wst.NoOpPublishController">
      </subsystem>
      <subsystemMapping
            id="publish.noop.swarm"
            mappedId="publish.noop.swarm"
            serverTypes="org.jboss.tools.wildfly.swarm.serverType">
      </subsystemMapping>
   </extension>
   
   <extension point="org.eclipse.jdt.launching.classpathProviders">
      <classpathProvider 
          id="org.jboss.tools.servers.wildfly.swarm.launchconfig.classpathProvider"
          class="org.jboss.tools.servers.wildfly.swarm.core.internal.maven.MavenRuntimeClasspathProvider"/>
   </extension>
   
</plugin>
