<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.wst.server.core.serverTypes">
      <serverType
            behaviourClass="org.jboss.tools.servers.wildfly.swarm.core.internal.server.wst.WildFlySwarmServerBehaviour"
            class="org.jboss.tools.servers.wildfly.swarm.core.internal.server.wst.WildFlySwarmServer"
            description="WildFly Swarm Server"
            hasConfiguration="false"
            id="org.jboss.tools.wildfly.swarm.serverType"
            initialState="stopped"
            launchConfigId="org.jboss.tools.servers.wildfly.swarm.core.serverLaunchConfig"
            launchModes="run"
            name="WildFly Swarm Server"
            runtime="false"
            runtimeTypeId="org.jboss.tools.servers.wildfly.swarm.core.serverTypeRuntime"
            supportsRemoteHosts="false">
      </serverType>
   </extension>
   <extension
         point="org.eclipse.wst.server.ui.serverImages">
      <image
            icon="icons/wildfly-swarm-16x16.png"
            id="org.jboss.tools.servers.wildfly.swarm.core.serverImage"
            typeIds="org.jboss.tools.servers.wildfly.swarm.core.serverTypeRuntime,org.jboss.tools.wildfly.swarm.serverType">
      </image>
   </extension>
   <extension
         point="org.eclipse.wst.server.core.runtimeTypes">
      <runtimeType
            description="WildFly Swarm Server"
            id="org.jboss.tools.servers.wildfly.swarm.core.serverTypeRuntime"
            vendor="JBoss Community"
            name="WildFly Swarm Server">
      </runtimeType>
   </extension>
   <extension
         point="org.eclipse.debug.core.launchConfigurationTypes">
      <launchConfigurationType
            delegate="org.jboss.tools.servers.wildfly.swarm.core.internal.server.wst.WildFlySwarmLaunchConfiguration"
            id="org.jboss.tools.servers.wildfly.swarm.core.serverLaunchConfig"
            modes="run,debug"
            name="WildFly Swarm"
            public="false">
      </launchConfigurationType>
   </extension>
   <extension point="org.eclipse.jdt.launching.classpathProviders">
      <classpathProvider 
          id="org.jboss.tools.servers.wildfly.swarm.launchconfig.classpathProvider"
          class="org.jboss.tools.servers.wildfly.swarm.core.internal.maven.MavenRuntimeClasspathProvider"/>
   </extension>

   <extension point="org.eclipse.core.runtime.adapters">
    <factory adaptableType="org.eclipse.wst.server.core.IServer"
             class="org.jboss.tools.servers.wildfly.swarm.ui.internal.WildFlySwarmServerModuleAdapterFactory">
      <adapter type="org.eclipse.wst.server.ui.IServerModule" />
    </factory>
   </extension>
</plugin>
